
/*Imports */

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,edit,favorite,home,logout,search,settings');

/* Box-Sizing Fix: */
  /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Colors */
body{
  --dark-cool-primary: 34,11,67; /* dark purple*/
  --med-cool-primary: 155, 54, 255; /* medium purple*/
  --light-cool: 61, 142, 203; /* med blue */
  --light-soft: 232, 174, 210; /*light pink*/
  --dark-forest-primary: 63, 107, 104; /* deep blue green */
  --med-forest-primary: 134, 141, 90; /* medium yellow green*/
  --light-warm: 255,240,216; /*light yellow */

  --button-primary-color: var(--med-cool-primary);
}


/* Remove Margin/Padding: */
html, body {
  margin: 0;
  padding: 0;
}

/* Typography: */
body {
  font-family: sans-serif;
  background-color: rgba(var(--dark-cool-primary), 1);
  color: rgba(255, 255, 255, 0.75);
}

h1 { font-size: 2.75em;}
h2 { font-size: 2em}

/* Basic Header/Main/Footer Flexbox Layout: */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > * {
  padding: 0 20px
}

main {
  flex-grow: 1;
}

header, footer {
  display: flex;
  flex-basis: 6em;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: rgba(var(--dark-forest-primary), 0.75);
  
}

/* Nav Styles: */
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  li { 
    display: flex;
    align-items: center;
  }

  li a {
    display: flex;
    align-items: center;
  }

  a {
    color: rgba( var(--light-cool),1);
    text-decoration: none;

    &.active {
      color: rgba(var(--light-soft), 0.75);
      font-weight: bold;
      transition: 0.7s;
    }
  }

}

/* Form Styles: */
label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  padding: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #20c997;
  transition: 0.7s;
}

button {
  background-color: rgba(var(--button-primary-color), 1);
  padding: 5px;
  margin-top: 10px;
}

button:hover, button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 3px 1px #20c997;
  transition: 0.7s;
}

/* Fun Squiggle Underline Style: */
.squiggle {
  text-decoration: wavy underline;
  text-decoration-color: #20c997;
  text-decoration-thickness: 2px;
}


/* Trinket Listing */
.trinket-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;

  li {
    background-color: rgba(255,255,255, 0.25);
    width: calc(20% - 20px);
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  }
  
  .trinket-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .trinket-details { padding: 0 20px;}

  .borrowed-true {
    background-color: rgba( var(--light-cool), .25);
  }
}

/* My Forest */
.myforest {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 20px;

  .available-trinkets {
    background-color: rgba(var(--dark-forest-primary), 0.25);
    padding: 20px;
  }
  aside {
    width: 100%;
    text-align: center;
  }
}
.forest-trinket-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  tr:hover {
    td {
      background-color: rgba(var(--med-cool-primary), 0.25);
    }
  }
  th {
    background-color: rgba(255,255,255, 0.25);
    padding: 10px;
  }
  td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    padding: 10px;
  }
  .owner > * {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    max-height: 100px;
    margin-right: 10px;
  }
}

.trinket-detail-modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.image-container {

  img {
    width: 100%;
  }
}

/* MY DEN */
.den-summary{
  list-style-type: none;
  display: flex;
  gap: 20px;
  li {
    text-align: center;
  }
  .den-summary-number {
    font-size: 60px;
  }
}
.request-card {
  display: flex;
  width: 100%;
  background:rgba( var(--light-cool), .25);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  gap: 20px;

  > * {
    flex-grow: 1;
  }

  input, label {
    display: inline-block;
  }

  .request-avatar {
    width: 100px;
  }
  
  .request-details {
    font-style: italic;
  }

  .requester-info {
    text-align: center;
  }

  .trinket-image {
    max-height: 150px;
    float: left;
    margin-right: 20px;
  }

  .trinket-info {

    h1 {
      flex-grow: 2;
    }
  }

}